-e hg+ssh://hg@bitbucket.org/ubernostrum/django-contact-form#egg=django-contact-form
django-lfc==1.0.3
django-pagination==1.0.7
django-permissions>=1.0,<1.1
django-portlets>=1.0,<1.1
django-workflows>=1.0,<1.1
tagging==0.5
feedparser
lfc_theme>=1.0,<1.1
